<div class="blog_right_sidebar">
    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title">Bài viết nổi bật</h3>
        <div class="media post_item" *ngFor="let item of posts">
           <img src={{item.image}} alt="post">
           <div class="media-body">
              <a [routerLink]="['/post', item.slug]">
                 <h3>{{item.title}}</h3>
              </a>
              <p>{{item.createdAt | date: 'mediumDate'}}</p>
           </div>
        </div>
     </aside>
</div>