<div class="pagination-area pb-45 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single-wrap d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                          <li class="page-item" (click)="selectPage(currentPage - 1, $event)"  [class.disabled]="currentPage == 1">
                            <a class="page-link" href="#">
                              <span class="flaticon-arrow roted" [class.disabled]="currentPage > 1"></span>
                            </a>
                            </li>
                          <li class="page-item" [class.active]="page == currentPage" *ngFor="let page of pages | async">
                            <a class="page-link" href="javascript:void(0)" (click)="selectPage(page, $event)">{{page}}</a>
                          </li>
                          <li class="page-item" (click)="selectPage(currentPage + 1, $event)" [class.disabled]="currentPage == totalPages">
                            <a class="page-link" href="#">
                              <span class="flaticon-arrow right-arrow" [class.disabled]="currentPage !== totalPages"></span>
                            </a></li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</div>