
<main>
    <!-- About US Start -->
   <div class="about-area">
    <div class="container">
            <!-- Hot Aimated News Tittle-->
           <div class="row">
                <div class="col-lg-9">
                    <!-- Trending Tittle -->
                            <div class="about-right mb-90 mt-30">
                                <div class="about-img">
                                    <img src="assets/img/post/about_heor.jpg" alt="">
                                </div>
                                <div class="section-tittle mb-30 pt-30">
                                    <h3>About Us</h3>
                                </div>
                                <div class="about-prea"><p class="about-pera1 mb-25">
                                        Experienced Software Engineer with a demonstrated history of working in the information technology and services industry. Skilled in C#, .NET Framework, Angular. Strong engineering professional with a Bachelor's degree focused on Software Engineering from Da Nang University of Science and Education.</p>
                                </div>
                            </div>
                </div>
                <div class="col-lg-3 pt-30">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Quang Nam</h3>
                            <p>Dien Ban</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3>+84 77 784 4595</h3>
                            <p>Mon to Fri 9am to 6pm</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>tuannguyenit98@gmail.com</h3>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
           </div>
    </div>
</div>
<!-- About US End -->
</main>