<nz-layout class="layout">
    <nz-sider>
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item>
          <span nz-icon nzType="file"></span>
          <span [routerLink]="['/dashboard/category/list']">Danh mục</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="profile" nzTheme="outline"></span>
          <span [routerLink]="['/dashboard/post/list']">Bài đăng</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="upload"></span>
          <span>Bình luận</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="right-layout">
      <nz-header></nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Design ©2020 Implement By TuanKA</nz-footer>
    </nz-layout>
  </nz-layout>