<footer>
    <!-- Footer Start-->
    <!-- footer-bottom aera -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-border">
                <div class="text-center">

                    <div class="col-lg-7 text-right">
                        <div class="footer-logo">
                            <a href="/"><img src='../../assets/img/logo/logo2_footer.png' alt=""></a>
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="footer-copy-right">
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Design by <a href="/"
                                    target="_blank">TuanNguyen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
