<div class="container-fluid p-h-0 p-v-20 h-100 bg" style="background-image: url('assets/images/others/login.png')">
  <div class="d-flex flex-column justify-content-between h-100">
    <div class="d-none d-md-block"></div>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-7 col-lg-5 m-h-auto">
          <nz-card class="m-b-100 shadow-lg">
            <div class="d-flex align-items-center justify-content-between m-b-30">
              <img class="img-fluid" alt="" src="assets/images/logo/logo.png">
              <h2 class="m-b-0">Đăng nhập</h2>
            </div>
            <form nz-form [formGroup]="formSignIn" nzLayout="vertical" class="login-form" (ngSubmit)="onSubmit()">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="username">Tên tài khoản</nz-form-label>
                <nz-form-control nzErrorTip={{formErrors.username}}>
                  <nz-input-group [nzPrefix]="prefixUser">
                    <input type="text" nz-input formControlName="username" placeholder="Tên tài khoản">
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="relative">
                <nz-form-label nzRequired nzFor="password">Mật khẩu</nz-form-label>
                <!-- <a class="float-right font-size-13 text-muted" style="position:absolute; right: 0" [routerLink]="['/authentication/reset-password-1']">Quên mật khẩu?</a> -->
                <nz-form-control nzErrorTip={{formErrors.password}}>
                  <nz-input-group [nzPrefix]="prefixLock">
                    <input type="password" nz-input formControlName="password" placeholder="Mật khẩu">
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <div class="d-flex align-items-center justify-content-between">
                    <!-- <span class="font-size-13 text-muted">Chưa có tài khoản? <a class="small" [routerLink]="['/authentication/sign-up-1']"> Đăng ký</a></span> -->
                    <span class="font-size-13 text-muted"></span>
                    <button nz-button class="login-form-button" [nzType]="'primary'">Đăng nhập</button>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </form>
            <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
            <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
          </nz-card>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex p-h-40 justify-content-between">
      <span class="">© 2024 TuanNguyen</span>
    </div>
  </div>
</div>